#container {
	height: 1000px;
}
#divA {
	background-color: red;
	height: 400px;
	width: 300px;
	float: left;/*加上float，其余自动适配*/
}
#divB {
	background-color: blue;
	height: 400px;
}
#divC {
	background-color: yellow;
	height: 600px;
}